.prodi-elektro
{
    margin-top: 30px;
}

.prodi-elektro p
{
    margin-bottom: -5px;
}

.service-wrap
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;

}

.service-wrap::before, .service-wrap::after
{
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 320%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: #126e82;

}

.service-wrap::before
{
    top: -10px;
    left: 200%;
}
.service-wrap:hover:before
{
    left: -70%;
    opacity: 1;
}

.service-wrap::after
{
    bottom: -10px;
    right: 200%;
}
.service-wrap:hover:after
{
    right: -70%;
    opacity: 1;
}

.service-wrap:hover
{
    color: white;
}

.service-wrap:h3
{
    color: white;
}
.service-wrap:hover h3
{
    color: white;
}
.service-wrap:hover h3:after
{
    background-color: white;
}