.secondary
{
    background-color:#126e82 !important; /*Setting warna background*/
}

.navbar 
{
    padding: 20px 0px; 
    padding-left: 40px;
    padding-right: 30px;
    border-bottom: none  !important;
    transition: all 0.5s ease-in-out; /*Setting animasi pada navbar*/
    background-color: black !important;
}

.navbar-inverse
{
    background-color: white !important; /*Setting warna background*/
}

.navbar ul li a
{
    color: white !important;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    background-color: transparent !important;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out; /*Setting animasi pada navbar*/
}

.navbar ul li a:hover, .navbar ul li a:focus
{
    color: #126e82 !important;
    background: none !important;

}

.navbar-toggle
{
    border: 1px solid white !important;
    color: white !important;
    transition: all 0.5s ease-in;
}

.icon-bar
{
    color: white !important;
    background-color: white !important;
}

.navbar-toggle:hover
{
    background-color: #126e82 !important;

}

.navbar-inverse .navbar-collapse
{
    border-color: white !important;
}
 
.login
{
    border: 2px solid white;
    border-radius: 15px ;
}
