#matkulList {
    margin-top: 30px;
    width: 100%;
    padding: 16px;
}

#matkulList > .placeholder {
    font-weight: lighter;
    color: rgba(0,0,0,0.9);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.matkul {
    margin-bottom: 18px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: justify;
    overflow: hidden;
    background-color: #d8e3e7;
}

.matkul-info {
    padding: 24px;
}

.matkul-info > h2 {
    font-weight: lighter;
}

.matkul-info > p {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
}