.search-list, .new-search
{
    width: 90%;
    margin: auto;
    background-color: #126e82;
}

.search-container {
    max-width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin: auto;
    top: 30px;
    background-color: #51c4d3;
}

.search-container > input {
    width: 75%;
    padding: 16px;
    border: 0;
    border-bottom: 1px solid #51c4d3;
    font-weight: bold;
}

.search-container > input:focus {
    outline: 0;
    border-bottom: 2px solid #51c4d3;
}

.search-container > input:focus::placeholder {
    font-weight: bold;
}

.search-container >  input::placeholder {
    color: #126e82;
    font-weight: normal;
}

.search-container > button {
    width: 23%;
    cursor: pointer;
    margin-left: auto;
    padding: 16px;
    background-color: #126e82;
    color: white;
    border: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 550px){
    .search-container {
        flex-direction: column;
        position: center;
    }

    .search-container > input {
        width: 100%;
        margin-bottom: 12px;
    }

}