@import "matkullist.css";
@import "searchbar.css";
@import "bagslider.css";
@import "bagnavbar.css";
@import "bagiangambar.css";
@import "bagianprodi.css";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    align-items: center;
}

main {
    width: 90%;
    max-width: 800px;
}

/*----bagian judul----*/
.section-title
{
    text-align: center !important;
}
/*----bagian judul end----*/



